*,
::before,
::after {
    box-sizing: border-box;
}

.slider {
    width: 600px;
    margin: 0 auto;
}

.slider_container {
    position: relative;
    overflow: hidden;
    background-color: pink;
}

.slider_items {
    display: flex;
    background-color: yellow;
    transition: .2s;

}

.slider_item {
    min-width: 100%;
    height: 480px;
}
.slider_item img {
    min-width: 100%;
    height: 480px;
}

.slider_item:nth-child(2n+1) {
    background-color: red;
}

.slider_item:nth-child(2n+2) {
    background-color: green;
}

.nav {
    position: absolute;
    width: 100%;
    bottom: 10px;
    cursor: pointer;
}

.nav .right {
    position: absolute;
    right: 10px;
    bottom: 220px;
    color: white;
    width: auto;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    background-color: rgb(58, 70, 134);
}

.nav .left {
    position: absolute;
    left: 10px;
    bottom: 220px;
    color: white;
    width: auto;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    background-color: rgb(58, 70, 134);
}

.points {
    text-align: center;
}

.points ul {
    display: block;
    margin: 0 auto;
    padding: 0;

}

.points ul li {

    display: inline-block;
}
.points li button:hover {
    background-color: red;
} 

.nav .right:hover, .left:hover {
    color: rgb(48, 49, 49);
    background-color: rgba(68, 173, 158, 1);
}

.nav .right:checked, .left:checked {
    color: rgb(48, 49, 49);
    background-color: rgb(0, 255, 42);
} 